body {
	margin: 0;
	padding: 0;
	background-color: #BBBBBB;
	font-family: 'Inconsolata', sans-serif;
}

.grid_body {
	margin: 5em;
}

.sub_body {
	margin: 5%;
}

#footer {
	text-align: center;
	padding: 1em;
}

#header_grid {
	display: grid;
	grid-template-columns: auto auto;
	padding: 1em;
	padding-bottom: 1em;
	align-items: baseline;
	background-color: #EEEEEE;
}

#header_left {
	color: #1B75BC;
}

#header_right {
	text-align: right;
	color: #1B75BC;
}

#header_menu a {
	font-size: 1.5em;
	font-weight: lighter;
}

.p_item img {
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	border-radius: 1em 1em 0em 0em;
}

.logo {
	vertical-align: middle;
	height: 8em;
	width: auto;
}

.p_item {
	margin: 2em;
	color: #555555;
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	border-radius: 1em;
}

.p_item_text {
	padding: 1em;
}

.p_item h1, h2 {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #1B75BC;
}

h1, h2, h3, h4 {
    margin-bottom: .25em;
		margin-top: 1;
    zfont-weight: lighter;
}

.md_rendered table {
  border: 1px solid black;
}

.md_rendered td {
  padding: .5em;
}

.md_rendered th {
  background-color: #1B75BC;
  color: white;
  padding: .5em;
}

.md_rendered  tr:nth-child(even) {background-color: #EEEEEE;}
.md_rendered  tr:nth-child(odd) {background-color: #CCCCCC;}

.project_header {
	overflow: auto;
	border: 1px solid #FFFFFF;
	border-radius: 1em;
	background-color: #EEEEEE;
}

.project_header_image {
	float: left;
	max-width: 40%;
}

.project_header_image img {
	width: 100%;
	height: auto;
  padding: .25em;
	border-radius: 1em;
}

.project_header_meta {
	height: max-content;
}

.project_header table, tr, th, td {
	color: black;
	vertical-align: top;
	font-size: 1.1em;
	padding: .25em;
}

.project_header th {
	text-align: right;
}

.blog_post {
    padding: 2%;
}

.clear {
    clear: both;
    float: none;
}
