body {
	margin: 0;
	padding: 0;
	background-color: #DDDDDD;
	font-family: 'Inconsolata', sans-serif;
}

.grid_body {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 5%;
	margin: 0% 5% 5% 5%;
}

.sub_body {
	padding: 5%;
}

.grid_p_stats {
	display: grid;
	grid-template-columns: 50% auto auto;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	justify-content: flex-start;
	font-size: 2em;
	padding: .5em;
	border: 1px solid black;
}

.grid_p_stats_image {
	height: 100%;
	grid-row-start: span 3
}

.grid_p_stats_image img {
	height: 7em;
	width: auto;
}

.grid_p_stats_header {
	font-weight: bold;
}

#footer {
	grid-column: span 2;
	text-align: center;
	zwidth: 100%;
	padding: 1em;
}

#header_grid {
	display: grid;
	grid-template-columns: auto auto;
	padding: 1em;
	padding-bottom: 0;
	align-items: baseline;
}

#header_left {
	color: #1B75BC;
}

#header_right {
	text-align: right;
	color: #1B75BC;
}

#header_menu a {
	font-size: 1.5em;
	font-weight: lighter;
}

.p_item img {
	width: 100%;
	height: auto;
	border: 0;
	padding: 0;
	margin: 0;
}

.logo {
	vertical-align: middle;
	height: 2.5em;
	width: auto;
}

.p_item {
}

.p_item_main {
	display: block;
	color: #555555;
	zbackground: #111111;
	margin-top: 2em;
	zmargin-left: 2em;
	border: 1px solid #151515;
}

.p_item_overlay {
	display: none;
}

.p_item_text {
	padding: 1em;
}

.p_item h1, h2 {
	margin: 0;
	padding: 0;
}





a {
    text-decoration: none;
    color: #1B75BC;
}

h1, h2, h3, h4 {
    margin-bottom: .25em;
		margin-top: 1;
    font-weight: lighter;
}

.title_large {
    font-size: 10em;
    vertical-align: middle;
}

.md_rendered table {
  border: 1px solid black;
}

.md_rendered td {
  padding: .5em;
}

.md_rendered th {
  background-color: #1B75BC;
  color: white;
  padding: .5em;
}

.md_rendered  tr:nth-child(even) {background-color: #dddddd;}

.project_header {
	overflow: auto;
	zborder: 1px solid black;
}

.project_header_image {
	float: left;
	max-width: 40%;

}

.project_header_image img {
	width: 100%;
	height: auto;

}

.project_header_meta {
	height: max-content;
}

.project_header table, tr, th, td {
	color: black;
	vertical-align: top;
	font-size: 1.1em;
	padding: .25em;
}


.project_header th {
	text-align: right;
}

.blog_post {
    zwidth: 96%;
    zbackground-color: white;
    padding: 2%;
}

.clear {
    clear: both;
    float: none;
}
