body {
	margin: 0;
	padding: 0;
	background-color: #DDDDDD;
	font-family: 'Inconsolata', sans-serif;
}

.grid_body {
	display: grid;
	grid-template-columns: auto auto;
	margin: 2em;
}

.sub_body {
	margin: 5%;
}

#footer {
	text-align: center;
	padding: 1em;
}

#header {
	padding: 1em;
	padding-bottom: 1em;
	text-align: center;
	align-items: baseline;
	background-color: #EEEEEE;
}

#header_grid {
	display: grid;
	grid-template-columns: auto auto auto;
	padding: 1em;
	padding-bottom: 1em;
	align-items: baseline;
	background-color: #EEEEEE;
}

#header_left {
	color: #1B75BC;
}

#header_center {
	color: #1B75BC;
}

#header_right {
	text-align: center;
	color: #1B75BC;
}

#header_menu a {
	font-size: 1.5em;
	font-weight: lighter;
}

.logo {
	vertical-align: middle;
	height: 5em;
	width: auto;
}

.project_list {
	display: grid;
	grid-template-columns: 45% 45%;
	grid-template-rows: auto;
	gap: 5%;
	margin: 5%;
	min-width: 500px;
}

.p_item {
	padding-top: 66.66%;
	position: relative;
	grid-template-columns: 100%;
	grid-template-rows: 100%;
	width: 100%;
	margin: 2%;
}

div.p_item_image {
	z-index: 1;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

div.p_item_overlay {
	z-index: 2;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: .5em;
	background-color: #333333;
	color: #EEEEEE;
	height: 70%;
	width: 80%;
	padding: 10%;
	opacity: 0%;
	overflow: hidden;
}

.p_item_overlay:hover {
	opacity: 90%;
}

.p_item_image img {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	border-radius: 1em;
}

.p_item h1, h2 {
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: #1B75BC;
}

h1, h2, h3, h4 {
    margin-bottom: .25em;
		margin-top: 1;
    zfont-weight: lighter;
}

.md_rendered table {
  border: 1px solid black;
}

.md_rendered td {
  padding: .5em;
}

.md_rendered th {
  background-color: #1B75BC;
  color: white;
  padding: .5em;
}

.md_rendered  tr:nth-child(even) {background-color: #EEEEEE;}
.md_rendered  tr:nth-child(odd) {background-color: #CCCCCC;}

.project_header {
	overflow: auto;
	border: 1px solid #FFFFFF;
	border-radius: 1em;
	background-color: #EEEEEE;
}

.project_header_image {
	float: left;
	max-width: 40%;
}

.project_header_image img {
	width: 100%;
	height: auto;
  padding: .25em;
	border-radius: 1em;
}

.project_header_meta {
	height: max-content;
}

.project_header table, tr, th, td {
	color: black;
	vertical-align: top;
	font-size: 1.1em;
	padding: .25em;
}

.project_header th {
	text-align: right;
}

.project_body img {
	max-width: 95%;
}

.blog_post {
    padding: 2%;
}

.clear {
    clear: both;
    float: none;
}
