---
title: K0DR.com
---

<div class="grid_body">

	{% assign sorted_pages = site.pages | sort: "rank" %}

	<div class="col1">
		{% for page in sorted_pages %}
			{% if page.dir contains 'projects' %}
			{% assign mod = forloop.index | modulo: 2 %}
			{% if mod != 0 %}
		  	{% include project_card.html %}
		  {% endif %}
			{% endif %}
		{% endfor %}
	</div><!-- col1 -->

	<div class="col2">
		{% for page in sorted_pages %}
			{% if page.dir contains 'projects' %}
			{% assign mod = forloop.index | modulo: 2 %}
			{% if mod == 0 %}
		  	{% include project_card.html %}
		  {% endif %}
		  {% endif %}
		{% endfor %}
	</div><!-- col2 -->

</div>
