<!DOCTYPE html>

<html>
<head>
    <title>K0DR Open Source Workshop</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Share+Tech+Mono" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/">K0DR.com</a>
        &nbsp;&nbsp;
        <a href="/blog">Blog</a>
        &nbsp;&nbsp;
        Projects:&nbsp;<a href="/projects_active.html">Active,</a>&nbsp;<a href="/projects_completed.html">Completed,</a>&nbsp;<a href="/projects_potential.html">Potential</a>
    </div>

    <div id="sub_body">
        <!-- Header include ends here -->
