<!DOCTYPE html>

<html>
<head>
    <title>K0DR Open Source Workshop</title>
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700|Share+Tech+Mono" rel="stylesheet">
    <link href="/css/main.css" rel="stylesheet">
</head>

<body>
    <div id="header">
        <a href="/"> <img src="/media/k0dr_logo_wide.png" alt="K0DR Open Source Workshop" id="logo"> </a>
        <br><br>
        <div id="top_menu">
        <a href="/blog">News&nbsp;&nbsp;</a>&nbsp;&nbsp;Projects:&nbsp;<a href="/projects_active.html">Active,</a>&nbsp;<a href="/projects_completed.html">Completed,</a>&nbsp;<a href="/projects_potential.html">Potential</a>
        </div>
    </div>

    <div id="sub_body">
        <!-- Header include ends here -->
