<div class="sub_body">
<div class="project_list">

<h1>Featured Projects:</h1>
<div class="pl_tag_desc">These should be considered a work in progress. I will update the build logs as I am able.</div>
{% for page in site.pages %}
  {% if page.status contains 'Featured' %}
    {% include project_card.html %}
  {% endif %}
{% endfor %}
</div>

<h1>Active Projects:</h1>
<div class="pl_tag_desc">These should be considered a work in progress. I will update the build logs as I am able.</div>
{% for page in site.pages %}
  {% if page.status contains 'Active' %}
    {% include project_card.html %}
  {% endif %}
{% endfor %}
</div>

<div class="project_list">
<h1>Completed Projects:</h1>
<div class="pl_tag_desc">These projects have reached a stable state. They may evolve based on use, but are ready to be exhibited, forked, etc.</div>
{% for page in site.pages %}
  {% if page.status contains 'Completed' %}
    {% include project_card.html %}
  {% endif %}
{% endfor %}
</div>

<div class="project_list">
<h1>Potential Projects:</h1>
<div class="pl_tag_desc">These are projects that I am likely to work on in the future...time permitting.</div>
{% for page in site.pages %}
  {% if page.status contains 'Potential' %}
    {% include project_card.html %}
  {% endif %}
{% endfor %}
</div>
</div><!-- sub_body end -->
